@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

img {
    width: 100%;
}

.card {
    width: 90%;
    max-width: 260px;
    padding: 1rem;
    margin: 50px auto;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.178);
}

.card__img {
    border-radius: 10px;
}

.cardContainer__text {
    text-align: center;
    padding: 1rem .4rem;
}

.cardContainer__title{
    color: hsl(218, 44%, 22%);
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.cardContainer__paragraph{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 7px;
}